@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
	font-family: 'Roboto Mono Variable', monospace;
} */

/* body {
	font-family: 'DM Sans Variable', sans-serif;
} */

body {
	font-family: 'Inter', sans-serif;
}

/* body {
	font-family: 'Monaco', monospace;
} */

.heading-main {
	@apply text-5xl font-bold;
}

.heading-section {
	@apply text-lg font-semibold mb-6;
}

.heading-entry {
	@apply text-lg;
}

.subheading-entry {
	@apply text-base text-slate-400 mb-2;
}

.entry-description {
	@apply text-sm text-slate-400;
}

.experience-entry {
	@apply grid grid-cols-1 md:grid-cols-8 gap-4 mb-6;
}

.experience-year {
	@apply text-sm col-span-2 text-slate-400;
}

.icon-animation {
	@apply transform hover:scale-90 transition duration-100 ease-in-out;
}

.arrow-link {
	text-decoration: none;
	font-size: 16px;
	position: relative;
	display: inline-flex;
	align-items: center;
	transition: color 0.3s ease;
}

.arrow {
	margin-left: 5px; /* Spacing between text and arrow */
	display: inline-block;
	transition: transform 0.3s ease;
}

.arrow-link:hover .arrow {
	transform: translate(3px, -3px); /* Moves the arrow up and to the right by 3px */
}

.arrow-link:hover {
	color: #3498db;
}

.project-entry:hover .arrow {
	transform: translate(3px, -3px); /* Moves the arrow up and to the right by 3px */
}

.project-entry:hover {
	color: #3498db;
}

.project-entry {
	display: block;
	text-decoration: none;
	padding: 1rem;
	border-radius: 0.5rem;
	transition:
		background-color 0.3s ease,
		box-shadow 0.3s ease;
	border-top: 0.7px solid rgb(32, 32, 32); /* Slight light outline on top */
}

.project-entry:hover {
	background: rgb(47, 47, 47); /* Semi-transparent background for the glass effect */
	backdrop-filter: blur(8px); /* Blur the background behind the project entry */
	border-top: 0.7px solid rgb(84, 84, 84); /* Slight light outline on top */
}

.project-thumb {
    @apply rounded-lg object-cover w-full h-auto border-2 border-white/5;
}

.project-entry:hover .project-thumb {
    @apply rounded-lg object-cover w-full h-auto border-2 border-white/20;
}


.badge {
	@apply bg-white/10 text-white text-sm py-3 px-3 rounded-full border border-white/20 hover:bg-white/20 transition;
}

.toc-link {
	@apply text-sm font-semibold mb-6;
}

.toc-link:hover {
	color: #3498db;
}

.toc-link.active {
	color: #3498db;
}
